* {
    box-sizing: border-box;
  
    
}

@-ms-viewport {
    width: device-width;
  }
  

body{
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;

}

.logo{
    display:flex; 
}

.dragon{
    width:30px;
    height:30px; 
    position:absolute; 
    top:49px; 
}

.brand-title{
    text-decoration:none; 
}
a{
    color: black; 
    z-index:3;
}
.navbar{
    z-index:3;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B9E4FC;
    color:black;
     font-family: 'Roboto Slab', serif;
    padding-bottom:25px; 
    padding-top:20px; 
    
}

.brand-title{
    font-size: 1.5rem;
    margin:.5rem;
    color:black; 
    z-index:3;
}

.navbar-links ul{
    z-index:3;
    margin:0;
    padding:0;
    display:flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-size:17px; 
    color:black;
    font-family: 'Roboto Slab', serif;
    padding:1rem;
    display:block
}

.navbar-links li:hover{
    background-color: #B9E4FC;
}

.toggle-button{
    position: absolute;
    top: 1.8rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content: space-between;
    width:30px;
    height:21px; 
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.banner{
    width:102%;
    height:28vw; 
    margin-top:-4vh; 
    margin-left:0vw; 
}

.firstButton{
    width: 86vmin;
    height: 16vmin;
    
    border-radius: 40px;
    background: #B9E4FC;
    color: #000;
    text-align: center;
    font-size: 6vmin;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position:absolute; 
    margin-top:-21vh; 
    margin-left:66vmin; 
}

.secondRow{
    display:flex; 
    justify-content: space-evenly;
    margin-top:3vmin;
}

.footer{
    margin-top:10vh; 
    padding-top: 5vh;
    padding-bottom: 3vh; 
    background-color:#B9E4FC;
    display:flex;
}

.socials{
    margin-top:4vh; 
}

.remind{
    margin-left:70vw; 
    width:45px; 
    height:45px; 
}

.insta{
    margin-left: 3vw; 
    width:45px; 
    height:45x;
}

.tt{
    margin-left: 3vw; 
    width:45px; 
    height:45x; 
}

.contact{
    font-size:22px; 
    inline-size:10px; 
    margin-left:3vw; 
}

@media (max-width: 700px){
    .toggle-button{
        display:flex;
    }

    .navbar-links{
       display:none;
        width:100%;
     
    }

    .navbar{
        flex-direction: column; 
        align-items:flex-start;
       
    }

    .navbar-links ul{
        width:100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align:center; 
    }

    .navbar-links li a{
        padding:.5rem 1rem; 
    }

    .navbar-links.active {
        display:block;
    }
}

@media screen and (max-width: 420px){
    .banner{
        height:60vmin; 
        width:150vmin;
        margin-left:-20vmin;; 
    }
    .firstButton{
        width: 86vmin;
        height: 16vmin;
        flex-shrink: 0;
        border-radius: 40px;
        background: #B9E4FC;
        color: #000;
        text-align: center;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
        position:absolute; 
        margin-top:-7vh; 
        margin-left:8vmin; 
    
    }
    .footer{
        position: absolute;
        bottom: 0;
        width: 102%;
        height: 2.5rem;            
        margin-top:10vh; 
        padding-bottom: 3vh; 
        background-color:#B9E4FC;
        display:flex;
    }
.socials{
    margin-top:1vh; 
}

.contact{
    font-size: 11px; 
}

.remind{
    margin-left:60vw; 
    width:30px;
    height:30px; 
   }

.insta{
    width:30px;
    height:30px; 
}

.tt{
    width:30px;
    height:30px; 
}   
}