
* {
    box-sizing: border-box;
  
    
}

@-ms-viewport {
    width: device-width ;
  }
  

body{
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;

}

.logo{
    display:flex; 
}

.dragon{
    width:30px;
    height:30px; 
    position:absolute; 
    top:49px; 
}

.brand-title{
    text-decoration:none; 
}
a{
    color: black; 
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B9E4FC;
    color:black;
     font-family: 'Roboto Slab', serif;
    padding-bottom:20px; 
    padding-top:20px; 
}

.brand-title{
    font-size: 1.5rem;
    margin:.5rem;
    color:black; 
}

.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-size:17px; 
    color:black;
    font-family: 'Roboto Slab', serif;
    padding:1rem;
    display:block
}

.navbar-links li:hover{
    background-color: #B9E4FC;
}

.toggle-button{
    position: absolute;
    top: 1.8rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content: space-between;
    width:30px;
    height:21px; 
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.words

.welcome{   
    position: absolute;
    padding-left: 15vw;
    top: 9rem;
    font-weight: 400;
    font-size: 96px;
    font-family: 'Roboto Slab', serif;
    text-align: center;

    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.asian{
    position: absolute;
    top:18rem;
    margin-left:25vw;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    

    color: #FFFFFF;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.blueCloud{
    position:absolute; 
    margin-top:-300px; 
    height: 730px;
}

.sec2{
    position:absolute; 
}

.what{
    text-align:center; 
   font-size: 60px; 
}

.blurb{
    font-size: 30px; 
    text-align:center; 
    margin-left:10vw;
    margin-right:10vw;
}

.rb1{
    position: absolute;
    width: 71.87px;
    height: 72.34px;
    left: 69px;
    top: -59.45px;
    transform: rotate(-4.46deg);

}

.rb2{
    position: absolute;
    width: 61.87px;
    height: 62.34px;
    left: 1151.94px;
    top:300px; 

    transform: rotate(41.58deg);
}

.sec3{
    display:flex; 
    margin-top:450px; 
}

.sec3Text{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
position: absolute;
width: 459px;
height: 287px;
margin-left:50vw; 
margin-top:20vh; 

border: 5px solid #000000;
border-radius: 40px;

}

.upcoming{
    width: 429px;
    height: 61px;
    font-family: 'Roboto Slab', serif;

   
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-left:10px; 

    color: #000000;
}

.dates{
    width: 345px;
    height: 91px;
    left: 744px;
    top: 1411px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin-left:40px; 
    color: #000000;
}

.sec4{
    display:flex; 
    justify-content:space-between;
}

.sec4Text{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    width: 459px;
    height: 287px;
    margin-left: 9vw; 
    margin-top: 10vh;
    border: 5px solid #000000;
    border-radius: 40px;
}

.become{
    width: 372px;
    height: 81px;
    margin-left:3vw;
    margin-top:5vh; 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}

.joinB{
    width: 223px;
    height: 56px;
    font-size: 27px; 
    margin-top:2rem; 
    margin-left:9vw; 
    background: #B9E4FC;
    border-radius: 20px;
}

.blob2{
    width: 530px;
height: 535px; 

margin-right:-1vw;
}

.sec5{
    display:flex; 
}

.sec5Text{
    box-sizing: border-box;
    width: 459px;
    height: 287px;
    margin-left:10vw; 
    margin-top:20vh; 
    border: 5px solid #000000;
    border-radius: 40px;
}

.bring{
    width: 372px;
    height: 81px;
    margin-left:3vw;
    margin-top:5vh; 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}

.signB{
    width: 223px;
    height: 56px;
    font-size: 27px; 
    margin-top:2rem; 
    margin-left:9vw; 
    background: #B9E4FC;
    border-radius: 20px;
}

.blob3{
    width:530px; 
    margin-top:-10vh; 
}

.footer{
    margin-top:10vh; 
    padding-top: 5vh;
    padding-bottom: 3vh; 
    background-color:#B9E4FC;
    display:flex;
}

.socials{
    margin-top:4vh; 
}

.remind{
    margin-left:70vw; 
    width:45px; 
    height:45px; 
}

.insta{
    margin-left: 3vw; 
    width:45px; 
    height:45x;
}

.tt{
    margin-left: 3vw; 
    width:45px; 
    height:45x; 
}

.contact{
    font-size:22px; 
    inline-size:10px; 
    margin-left:3vw; 
}



@media (max-width: 700px){
    .toggle-button{
        display:flex;
    }

    .navbar-links{
       display:none;
        width:100%;
     
    }

    .navbar{
        flex-direction: column; 
        align-items:flex-start;
       
    }

    .navbar-links ul{
        width:100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align:center; 
    }

    .navbar-links li a{
        padding:.5rem 1rem; 
    }

    .navbar-links.active {
        display:block;
    }

    .welcome{   
        padding-left: 10vw;
        top: -110vh;
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 66px;
        text-align: center;
        inline-size: 450px;
        color: #FFFFFF;    
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .asian{
        left: 9vw;
        top: -78vh;
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        inline-size: 450px;
        font-weight: 400;
        font-size: 22px;
        color: #FFFFFF;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    .words{
        position: absolute;
        z-index:4; 
    }

    .blurb{
        font-size: 25px; 
        margin-left:5vw;
        margin-right:5vw; 
    }
   
    .what{
        font-size: 55px; 
    }

    .rb1{
        position: absolute;
        width: 71.87px;
        height: 72.34px;
        margin-left:-10vw; 
        transform: rotate(-4.46deg);
    
    }
    
    .rb2{
        position: absolute;
        width: 61.87px;
        height: 62.34px;
        margin-left:-150vw; 
        transform: rotate(41.58deg);
    }

    .blob1{
        width:250px;
        height:250px; 
    }

    .sec3Text{
        box-sizing: border-box;
        font-family: 'Roboto Slab', serif;
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left:55vw; 
    margin-top:6vh; 
    border: 5px solid #000000;
    border-radius: 40px;
    
    }

    .upcoming{
        font-size:20px; 
        margin-left:-23vw; 
    }

    .dates{
        margin-left:-15vw;
        margin-top:-4vh;
       color:black;
        font-size:15px; 
        
    }

    .sec4Text{
        box-sizing: border-box;
        width: 210px;
        height: 200px;
        margin-left: 3vw; 
        margin-top: 10vh;
        border: 5px solid #000000;
        border-radius: 40px;
    }
    
    .blob2{
        width:230px;
        height:230px;
        margin-top:10vh;
    }

    .become{
        font-size:18px; 
        margin-left:2vw;
        inline-size: 180px;
        line-height: 5vh;
    }

    .joinB{
        width:150px;
        height:50px;
        margin-top:-6vh; 
        margin-left:5vw; 
        font-size:20px; 
    }

    .blob3{
        width:230px;
        height:230px;
        margin-top:10vh; 
    }

    .sec5Text{
        box-sizing: border-box;
        width: 43vw;
        height: 200px;
        margin-left:5vw; 
        margin-top:15vh; 
        border: 5px solid #000000;
        border-radius: 40px;
    }

    .bring{
        font-size:20px; 
        inline-size: 180px;
        line-height: 5vh;
        margin-left:3vw; 
    }

    .signB{
        width: 123px;
    height: 56px;
    font-size: 20px; 
    margin-top:-3vh; 
    margin-left:7vw; 
    background: #B9E4FC;
    border-radius: 20px;
    }

   .contact{
    font-size: 14px; 
   }

   .remind{
    margin-left:60vw; 
    width:30px;
    height:30px; 
   }

   .insta{
    width:30px;
    height:30px; 
   }

   .tt{
    width:30px;
    height:30px; 
   }
   
}

@media screen and (max-width: 420px){
    .welcome{
        position:absolute;
        padding-left: -5vw;
        padding-top:18vh;
        font-family: 'Roboto Slab', serif;
        inline-size:305px; 
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        color: #FFFFFF;    
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .asian{
       padding-top:4vh;
        margin-left:3vw; 
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        inline-size: 450px;
        font-weight: 400;
        font-size: 17px;
        color: #FFFFFF;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    .headerPic{
       width:260vw;
       height:80vh; 
       padding-top:-50px; 
       margin-bottom:20vh;
       transform: translateX(-7%);
    }

    .blueCloud{
        position:absolute; 
        margin-top:-300px; 
        height: 730px;
        overflow-x: hidden;
        width:140vw;
        height: 830px;
        margin-bottom:50vh;
        
    }

    .blurb{
        font-size: 18px; 
        font-family: 'Roboto Slab', serif;
        font-style: normal;
    }
   
    .what{
        font-size: 40px; 
        font-family: 'Roboto Slab', serif;
        font-style: normal;
    }

    .sec3{
        margin-top:80vh; 
    }

    .blob1{
        width:170px;
        height:170px; 
    }
    .sec3Text{
        box-sizing: border-box;
        position: absolute;
        width: 160px;
        height: 160px;
        margin-left:50vw; 
        margin-top:3vh; 
        border: 5px solid #000000;
        border-radius: 40px;
    
    }

    .upcoming{
        font-size:18px; 
        margin-left:-38vw; 
    }

    .dates{
        margin-left:-26vw;
        margin-top:-3vh;
       color:black;
        font-size:13px; 
        line-height: 28px;
    }
    
    .blob2{
        width:170px;
        height:170px; 
    }

    .sec4Text{
        box-sizing: border-box;
       width: 160px;
        height: 160px;
        margin-left: 4vw; 
        margin-top: 10vh;
        border: 5px solid #000000;
        border-radius: 40px;
    }

    .become{
        font-size:15px; 
        margin-left:3vw;
        inline-size: 130px;
        line-height: 3vh;
        margin-bottom:-2vh;
    }

    .joinB{
        width:120px;
        height:35px;
        margin-top:-40vh; 
        margin-left:5vw; 
        font-size:14px; 
    }

    .blob3{
        width:170px;
        height:170px; 
    }

    .sec5Text{
        box-sizing: border-box;
        width: 160px;
         height: 160px;
         margin-left: 5vw; 
         margin-top: 10vh;
         border: 5px solid #000000;
         border-radius: 40px;
    }

    .bring{
        font-size:15px; 
        margin-left:3vw;
        inline-size: 130px;
        line-height: 3vh;
        margin-bottom:-2vh;
    }

    .signB{
        width:120px;
        height:35px;
        margin-top:-40vh; 
        margin-left:5vw; 
        font-size:14px; 
    }

    .socials{
        margin-top:1vh; 
    }

    .contact{
        font-size: 11px; 
    }

    .remind{
        margin-left:60vw; 
        width:30px;
        height:30px; 
       }
    
    .insta{
        width:30px;
        height:30px; 
    }

    .tt{
        width:30px;
        height:30px; 
    }
}