body{
    overflow-x: hidden;
}


nav{
    position: absolute;
    width: 1250px;
    height: 60px;
    left: -3px;
    top: 0px;
    background: #B9E4FC;
    z-index:3;
    padding-right:100%;
}

.APACC{
    position: absolute;
    width: 121px;
    height: 41px;
    left: 10px;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.dragon{
    position: absolute;
    width: 34px;
    height: 37px;
    left: 80px;
    top: 12px;
}

.ot{
    position: absolute;
    width: 202px;
    height: 42px;
    left: 533px;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}

.pg{
    position: absolute;
    width: 214px;
    height: 56px;
    left: 723px;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.memberF{
    position: absolute;
    width: 196px;
    height: 46px;
    left: 308px;
    top: 3px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.ff{
    position: absolute;
    width: 224px;
    height: 40px;
    left: 919px;
    top: 3px;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.tl{
    position: absolute;
    width: 626px;
    height: 172px;
    left: 1074px;
    top: 3px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.headerImg{
    position: absolute;
    width: 100%;
    height: 650px;
    left: -1003px;
    top: 15px;
}

.union{
    position: absolute;
    width: 1523px;
    height: 730px;
    left: -42px;
    top: 475px;    
}

.welcome{
    position: absolute;
    width: 932px;
    height: 144px;
    left: 261px;
    top: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 116px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.abr{
    position: absolute;
    width: 620px;
    height: 66px;
    left: 397px;
    top: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.what{
    position: absolute;
    width: 490px;
    height: 106px;
    left: 454px;
    top: 741px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.blurb{
    position: absolute;
    width: 1166px;
    height: 244px;
    left: 65px;
    top: 848px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.rb1{
    position: absolute;
    width: 61.87px;
    height: 62.34px;
    left: 170px;
    top: 680.45px;
    transform: rotate(-5.46deg);
}

.rb2{
    position: absolute;
    width: 61.87px;
    height: 62.34px;
    left: 1151.94px;
    top: 1051px;
    transform: rotate(22.58deg);
}

.blob1{
    position: absolute;
    width: 618.79px;
    height: 603.3px;
    left: -8px;
    top: 1241px;
}

.rec1{
    box-sizing: border-box;
    position: absolute;
    width: 459px;
    height: 287px;
    left: 707px;
    top: 1321px;

    border: 5px solid #000000;
    border-radius: 40px;

}

.upcoming{
    position: absolute;
    width: 429px;
    height: 61px;
    left: 720px;
    top: 1350px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    
    color: #000000;
}

.dates{
    position: absolute;
    width: 345px;
    height: 91px;
    left: 744px;
    top: 1431px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.blob2{
    position: absolute;
    width: 552.74px;
    height: 546.85px;
    left: 710px;
    top: 1737.78px;
}

.joinB{
    position: absolute;
    width: 223px;
    height: 56px;
    left: 302px;
    top: 2098px;
    background: #B9E4FC;
    border-radius: 20px;
    position: absolute;
    width: 207px;
    height: 48px;
    left: 220px;
    top: 2080px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.become{
    position: absolute;
    width: 372px;
    height: 81px;
    left: 150px;
    top: 1940px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}

.rec2{
    box-sizing: border-box;
    position: absolute;
    width: 459px;
    height: 287px;
    left: 106px;
    top: 1903px;
    border: 5px solid #000000;
    border-radius: 40px;
}

.signB{
    position: absolute;
width: 223px;
height: 56px;
left: 800px;
top: 2665px;

background: #B9E4FC;
border-radius: 20px;


/* Sign Up */


position: absolute;
width: 180px;
height: 42px;
left: 822px;
top: 2669px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;
}

.bring{
    position: absolute;
    width: 372px;
    height: 81px;
    left: 721px;
    top: 2528px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #000000;
}

.rec3{
    box-sizing: border-box;

    position: absolute;
    width: 459px;
    height: 287px;
    left: 680px;
    top: 2473px;

    border: 5px solid #000000;
    border-radius: 40px;

}

.blob3{
    
position: absolute;
width: 552px;
height: 497.79px;
left: -68px;
top: 2312.25px;

}